@model PersonViewModel

<div class="padded">
    <div class="row padded">
        <strong class="text-muted">Add Actor</strong>

    </div>
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <form onsubmit="process">

                <div class="row">
                    <div class="col-sm-4 padded">
                        <div class="col-sm">
                            <label> First Name </label><span class="text-danger">*</span>
                            <span id="aFNameReq" class="text-danger"></span>
                        </div>
                        <div class="col-sm">
                            <input type="text" id="aFName" placeholder="First Name" class="widthFull" />
                        </div>
                    </div>
                    <div class="col-sm-4 padded">
                        <div class="col-sm">
                            <label> MiddleName </label>
                        </div>
                        <div class="col-sm">
                            <input type="text" id="aMName" placeholder="Middle Name" class="widthFull" />
                        </div>
                    </div>
                    <div class="col-sm-4 padded">
                        <div class="col-sm">
                            <label> Last Name </label><span class="text-danger">*</span>
                            <span id="aLNameReq" class="text-danger"></span>
                        </div>
                        <div class="col-sm">
                            <input type="text" id="aLName" placeholder="Last Name" class="widthFull" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 padded">
                        <div class="col-sm">
                            <label> Date of Birth </label>
                            <span id="aDobReq" class="text-danger"></span>
                        </div>
                        <div class="col-sm">
                            <input type="date" id="aDob" class="widthFull" value="0001-01-01" />
                        </div>
                    </div>
                    <div class="col-sm-6 padded">
                        <div class="col-sm">
                            <label> Sex </label><span class="text-danger">*</span>
                            <span id="aSexReq" class="text-danger"></span>
                        </div>
                        <div class="col-sm">
                            @foreach (var gender in Model.SexOptions)
                            {
                                <label class="radio-inline">
                                    <input type="radio" id="aSex" name="aSex" class="radio-inline" value="@gender.Description" />@gender.Description
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 padded">
                        <div class="col-sm">
                            <label> Bio </label>
                        </div>
                        <div class="col-sm">
                            <textarea rows="5" id="aBio" class="widthFull"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row padded">
                    <button type="button" onclick="addNewActor()" class="btn btn-info btn-sm">Add</button>
                    <button type="reset" class="btn btn-info btn-sm">Reset</button>
                    <button type="button" onclick="hideActorDiv()" class="btn btn-info btn-sm">Close</button>
                </div>
            </form>
        </div>

        <!-- Display new producers that are being added -->
        <div class="col-md-3 col-sm-12 left-grey-borderline background-whitesmoke" id="newActorsDisplay">
            <span class="text-muted">
                <strong>Actors</strong>
            </span>
            <div id="aItemListDiv">
                <ul id="actorItem"></ul>
            </div>
        </div>

    </div>
</div>
