.squareImage {
    width: 100%;
    max-width: 200px
}

.rectangularImage {
    width: 80px;
    height: 120px;
}

.detailPanel p {
    font-size: 16px;
}

.padded {
    padding: 10px;
}

.movieHeader {
    font-size: 20px;
    font-weight: bold;
}

.textLarge {
    font-size: 20px;
}

.boldGrayText {
    color: darkgray;
    font-weight: bold;
}

.topMarginOnly {
    margin-top: 5px;
}

.textJustify {
    text-align: justify;
    text-justify: inter-word;
}

.widthFull {
    width: 100%;
}

.alignRight {
    position: relative;
    right: 0px;
}

.zeroPadding {
    padding: 0px;
}

.roundedEdge-box {
    padding: 3px;
    border-radius: 5px;
    background-color: lightgrey;
}

.fixed-maxheight {
    max-height: 400px;
}

.li {
    list-style: none;
}

.auto-scroll {
    overflow: auto;
}

.hidden {
    visibility: hidden;
}

.roundedBorderBox {
    border-radius: 10px;    
    border: 1px solid red;
}

.left-grey-borderline {
    border-left: 1px solid grey;
}

.border-thin-cornflowerblue {
    border: 1px solid cornflowerblue;
}

.background-ghostwhite-with-shadow {
    background-color: ghostwhite;
    box-shadow: 
        rgba(128, 128, 128, 0.3) 3px 3px 10px,
        rgba(128, 128, 128, 0.3) -3px 0px 10px;
}

.background-whitesmoke {
    background-color: whitesmoke;
}

.checkboxCustom {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.listText {
    vertical-align: middle;
}

.image-contained {
    margin: 5px auto;
    padding: 5px;
    height: 17.6vw;
    width: 100%;
    color: white;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}

.fixex-minWidth {
    width: 100%;
    min-width: 100px;
}

#assetName {
    font-size: 18px;
    font-weight: bold;
}

#addProducerDiv {
    display: none;
}

#addActorDiv {
    display: none;
}

#newActorsDisplay {
    display: none;
}

#newProducerDisplay {
    display: none;
}

#addNewProducerForm {
    display: none;
}
