@model PersonViewModel
@{
    ViewData["Title"] = "Add Actor";
    ViewData["AddNew"] = "NewActor";
}

<div class="page-header"><h3>Add New @Model.PersonType.ToString()</h3></div>


@await Html.PartialAsync("_AddNew", Model)