@model PersonViewModel
@{
    ViewData["Title"] = "Add Producer";
    ViewData["AddNew"] = "NewProducer";
}

<div class="text-muted page-header"><h3>Add New @Model.PersonType.ToString()</h3></div>

@await Html.PartialAsync("_AddNew", Model)